<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- descrizione che appare nei motori di ricerca sotto al nome del sito -->
    <meta name="description" content="Get the World weather forecast. Trustworthy. Temperature in degrees Celsius, rain, snow, wind.">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- css generale -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Weekly Meteo</title>

    <!-- includo file json contenente lo schema.org -->
    <script type="application/ld+json" src="schemaorg.json"></script>

    <!-- autocompletamento -->
    <script src="js/addScriptGoogle.js"></script>
    <script src="js/autocompletamento.js"></script>

  </head>
  <body>

    <!-- classe expand-md permette di espandere il nav quando il display è superiore al break point medium Classe fixed-top permette di fissare il nav -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">


      <div class="container" id="contenitoreIntestazione">
        <div class="row" id="rigaIntestazione">
            <!-- logo -->
            <div class="col-2 col-sm-2 col-lg-4" >
              <a href="index.html" class="navbar-brand mb-0 h1 titolo">
                <img class="d-inline-block aling-top" src="img/logo2.webp" alt="Logo" width="45" height="45">
                <span id="titoloWM">Weekly Meteo</span>
              </a>
            </div>

            <!-- barra ricerca -->
            <div id="divRicerca" class="col-8 col-sm-8 col-lg-4">
              <form class="d-flex" method="POST" action="/ricerca">
                <input type="text" class="form-control me-2" placeholder="Search Locations" id='txtCity'  autocomplete="off">
                <button type="submit" class="btn btn-outline-light" id="btnPrevisioni"> <img src="/img/search-location.webp" alt="find"  id="imgCerca"> </button>
              </form>
            </div>

            <!-- menu -->
            <div class="col-2 col-sm-2 col-lg-4">
              <!-- questo button crea il toggle in cui collassa il nav -->

                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler floatRight navbar-expand-lg" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
                  <!-- la classe navbar-toggler-icon permette di inserire come toggler le 3 righette -->
                  <span class="navbar-toggler-icon" ></span>
                </button>


              <div id="navbarNav" class="collapse navbar-collapse floatRight" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <!-- switch dark mode -->
                    <div class="form-check form-switch" id="switchScuro">
                      <span style="color:white;" id="emoji">☼</span>
                      <input class="form-check-input" type="checkbox" role="switch" onclick="temaScuro()">
                    </div>
                  </li>
                  <li class="nav-item">
                    <form  id="formPosizAttuale" method="POST" action="/ricerca">
                      <button type="submit" class="btn" id="btnPosizAttuale"> <img src="/img/placeholder-filled-point.webp" alt="Posizione Attuale"> </button>
                    </form>
                  </li>
                </ul>
              </div>

            </div>

          </div>

        </div>
    </nav>

    <main id='mainCredits'>
      <div style="margin:6% 0% 0% 10% ; text-align:left; padding-bottom:3%; padding-top:0%;">
        <ul>
          <li>
             Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>
          <li>Weather icons made by Josh Bader from <a href="https://codepen.io/joshbader/pen/EjXgqr">www.codepen.io</a> </li>
          <li>Photos from <a href="https://unsplash.com/">www.unsplash.com</a></li>
          <li>Weather information from <a href="https://openweathermap.org/">www.openweathermap.org</a> </li>
          <li>Articles from <a href="https://www.timeanddate.com/astronomy/">www.timeanddate.com/astronomy</a> and <a href="https://www.cnet.com/science/space"></a></li>
        </ul>
       </div>

    </main>

    <!-- footer -->
    <div class="container fixed-bottom">
      <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
        <p class="col"><a href="https://github.com/AlessiaCaironi/WeeklyMeteo" class="nav-link"><img src="../img/github.webp" alt='github link' id='github' height="30px" width="auto"></a></p>
          <p class="col" style="text-align: center;">Alessia Caironi</p>

            <form class="col" method="GET" action="/credits">
              <p style="text-align: right;">
              <button type="submit" class="btn btn-primary" id="btnCrediti">Credits</button>
              </p>
            </form>

      </footer>
    </div>

    <!-- Popper e Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- css dark-mode -->
    <link rel="stylesheet" type="text/css" href="css/tema_scuro.css">
    <!-- tema chiaro/scuro -->
    <script src="js/tema_ChiaroScuro.js"></script>

    <!-- event listeners -->
    <script src="js/eventListeners.js"></script>


  </body>
</html>
