<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- descrizione che appare nei motori di ricerca sotto al nome del sito -->
    <meta name="description" content="Get the World weather forecast. Trustworthy. Temperature in degrees Celsius, rain, snow, wind.">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- css generale -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- autocompletamento google -->
    <script src="js/addScriptGoogle.js"></script>
    <script src="js/autocompletamento.js"></script>

    <title>Weekly Meteo</title>

    <!-- includo file json contenente lo schema.org -->
    <script type="application/ld+json" src="schemaorg.json"></script>


  </head>
  <body>

    <!-- classe expand-md permette di espandere il nav quando il display è superiore al break point medium Classe fixed-top permette di fissare il nav -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">


      <div class="container" id="contenitoreIntestazione">
        <div class="row" id="rigaIntestazione">
            <!-- logo -->
            <div class="col-2 col-sm-2 col-lg-4" >
              <a href="index.html" class="navbar-brand mb-0 h1 titolo">
                <img class="d-inline-block aling-top" src="img/logo2.webp" alt="Logo" width="45" height="45">
                <span id="titoloWM">Weekly Meteo</span>
              </a>
            </div>

            <!-- barra ricerca -->
            <div id="divRicerca" class="col-8 col-sm-8 col-lg-4">
              <form class='d-flex' id="formRicerca" method="POST" action="/ricerca">
                <input type="text" class="form-control me-2" placeholder="Search Locations" id='txtCity'>
                <button type="submit" class="btn btn-outline-light" id="btnPrevisioni">
                  <img src="/img/search-location.webp" alt="find" id="imgCerca">
                </button>
              </form>
            </div>

            <!-- menu -->
            <div class="col-2 col-sm-2 col-lg-4">
              <!-- questo button crea il toggle in cui collassa il nav -->

                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler floatRight navbar-expand-lg" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
                  <!-- la classe navbar-toggler-icon permette di inserire come toggler le 3 righette -->
                  <span class="navbar-toggler-icon" ></span>
                </button>


              <div id="navbarNav" class="collapse navbar-collapse floatRight" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <!-- switch dark mode -->
                    <div class="form-check form-switch" id="switchScuro">
                      <span style="color:white;" id="emoji">☼</span>
                      <input class="form-check-input" type="checkbox" role="switch" onclick="temaScuro()">
                    </div>
                  </li>
                  <li class="nav-item">
                    <form  id="formPosizAttuale" method="POST" action="/ricerca">
                      <button type="submit" class="btn" id="btnPosizAttuale"> <img src="/img/placeholder-filled-point.webp" alt="Posizione Attuale"> </button>
                    </form>
                  </li>
                </ul>
              </div>

            </div>

          </div>

        </div>
    </nav>

        <!-- carousel con immagini che ruotano -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <!-- trattini per passare ad una specifica città -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>

      <!-- città che ruotano -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <div id="lisbona" class="overlay-image"></div>
          <div class="container">
            <h1>Lisbon</h1>
            <div class="row">
              <div class="col-1">
                <p id="tempLisbon"></p>
              </div>
              <div class="col-1" id="iconLisbon">
                <!-- icona-->
              </div>
            </div>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-outline-light" id="btnLisbon">Forecast</button>
            </form>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div id="londra" class="overlay-image"></div>
          <div class="container">
            <h1>London</h1>
            <div class="row">
              <div class="col-1">
                <p id="tempLondon"></p>
              </div>
              <div class="col-1" id="iconLondon">
                <!-- icona -->
              </div>
            </div>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-outline-light" id="btnLondon">Forecast</button>
            </form>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div id="dublino" class="overlay-image"></div>
          <div class="container">
            <h1>Dublin</h1>
            <div class="row">
              <div class="col-1">
                <p id="tempDublin"></p>
              </div>
              <div class="col-1" id="iconDublin">
                <!-- icona -->
              </div>
            </div>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-outline-light" id="btnDublin">Forecast</button>
            </form>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div id="parigi" class="overlay-image"></div>
          <div class="container">
            <h1>Paris</h1>
            <div class="row">
              <div class="col-1">
                <p id="tempParis"></p>
              </div>
              <div class="col-1" id="iconParis">
                <!-- icona -->
              </div>
            </div>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-outline-light" id="btnParis">Forecast</button>
            </form>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div id="madrid" class="overlay-image"></div>
          <div class="container">
            <h1>Madrid</h1>
            <div class="row">
              <div class="col-1">
                <p id="tempMadrid"></p>
              </div>
              <div class="col-1" id="iconMadrid">
                <!-- icona -->
              </div>
            </div>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-outline-light" id="btnMadrid">Forecast</button>
            </form>
          </div>
        </div>
      </div>

      <!-- frecce per città precedente e successiva -->
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <main>


      <!-- previsioni prossimi giorni -->
      <div id="proxGiorni" class="container">
        <div class="row">
          <div class="col-12">
            <h2 id="citIta">Italian Cities</h2>
          </div>

          <div class="col-md-2 col-sm-4 giorni" >
            <div id="iconBergamo">
              <!-- icona -->
            </div>
            <h5>Bergamo</h5>
            <p id="tempBergamo"></p>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-primary" id="btnBergamo">Forecast</button>
            </form>
          </div>

          <div class="col-md-2 col-sm-4 giorni">
            <div id="iconMilano">
              <!-- icona -->
            </div>
            <h5>Milano</h5>
            <p id="tempMilano"></p>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-primary" id="btnMilano">Forecast</button>
            </form>
          </div>
          <div class="col-md-2 col-sm-4 giorni">
            <div id="iconRoma">
              <!-- icona -->
            </div>
            <h5>Roma</h5>
            <p id="tempRoma"></p>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-primary" id="btnRoma">Forecast</button>
            </form>
          </div>
          <div class="col-md-2 col-sm-4 giorni" >
            <div id="iconBologna">
              <!-- icona -->
            </div>
            <h5>Bologna</h5>
            <p id="tempBologna"></p>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-primary" id="btnBologna">Forecast</button>
            </form>
          </div>
          <div class="col-md-2 col-sm-4 giorni" >
            <div id="iconTrento">
              <!-- icona -->
            </div>
            <h5>Trento</h5>
            <p id="tempTrento"></p>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-primary" id="btnTrento">Forecast</button>
            </form>
          </div>
          <div class="col-md-2 col-sm-4 giorni" >
            <div id="iconPalermo">
              <!-- icona -->
            </div>
            <h5>Palermo</h5>
            <p id="tempPalermo"></p>
            <form method="POST" action="/ricerca">
              <button type="submit" class="btn btn-primary" id="btnPalermo">Forecast</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <div id="articoli" class="container">
        <div id="articolo1" class="row">
          <div class="col-md-8 col-lg-10">
            <h4>Nov. 17-18: Leonid meteor shower</h4>
            <p class="smallFont">By <a href="https://www.cnet.com/science/space/leonid-meteor-shower-peaks-tonight-shooting-star-outburst-possible-tomorrow/">CNET - Eric Mack</a> </p>
            <p> A swarm of fireballs from the Taurid meteor shower has already made November a fiery month for meteors. Now, the Leonids will hit their stride as soon as Thursday evening and could bring an all-out meteor storm the following night. While the Taurids are known for traveling relatively slowly as they burn up in the atmosphere and producing a number of fireballs (especially this year), the Leonids are considered a swift shower, producing fast, bright shooting stars.</p>
          </div>
          <!-- d-sm-none d-md-block per nascondere img se lo schermo è sm o xs-->
           <div class="col-md-4 d-sm-none d-none d-md-block col-lg-2">
            <img src="img/art1.webp" alt="lunar eclipse" id="imgArt1" width="100%" height="auto">
              <p class="superSmallFont">Photo by <a href="https://unsplash.com/@kreyatif?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Michał Mancewicz</a> on <a href="https://unsplash.com/s/photos/meteor-shower?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
          </div>
        </div>
        <div id="articolo2" class="row border-top my-4 py-4">
          <div class="col-md-4 d-sm-none d-none d-md-block col-lg-2">
            <img src="img/art2.webp" alt="Leonid meteor shower" id="imgArt2" width="100%" height="auto">
            <p class="superSmallFont">Photo by <a href="https://unsplash.com/@vixenly?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kym MacKinnon</a> on <a href="https://unsplash.com/s/photos/cold-moon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
          </div>
          <div class="col-md-8 col-lg-10">
            <h4>Dec. 8: Cold Moon </h4>
            <p class="smallFont">By <a href="https://www.timeanddate.com/astronomy/moon/cold.html">TimeAndDate - Vigdis Hocken</a></p>
            <p> December is the month when winter truly begins in most of the Northern Hemisphere. Most of the ancient Full Moon names are related to the low temperatures and darkness of December. The most common name is the Cold Moon, while another is Long Night Moon. The Anglo-Saxon name was the Moon Before Yule, which is the ancient celebration around the winter solstice.
            The December Full Moon is also called Oak Moon, while a Celtic name was Wolf Moon. Today, however, this name is more common for the January Full Moon.</p>

          </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
          <p class="col"><a href="https://github.com/AlessiaCaironi/WeeklyMeteo" class="nav-link"><img src="../img/github.webp" alt='github link' id='github' height="30px" width="auto"></a></p>
          <p class="col" style="text-align: center;">Alessia Caironi</p>
          <form class="col" method="GET" action="/credits">
            <p style="text-align: right;">
              <button type="submit" class="btn btn-primary" id="btnCrediti">Credits</button>
            </p>
          </form>
      </footer>
    </div>

    <!-- Popper e Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- css icone -->
    <link rel="stylesheet" type="text/css" href="css/icone.css">
    <!-- css dark-mode -->
    <link rel="stylesheet" type="text/css" href="css/tema_scuro.css">

    <!-- weather -->
    <script src="js/weatherIndex.js"></script>
    <!-- tema chiaro/scuro -->
    <script src="js/tema_ChiaroScuro.js"></script>

    <!-- event listeners -->
    <script src="js/eventListeners.js"></script>
    <!-- event listeners index -->
    <script src="js/eventListenersIndex.js"></script>


  </body>
</html>
